/* :root{
    --background: #1e1e1e;
    --text: #fff;
    --theme-primary: #333;
    --font_family_heading: "Impact", sans-serif;
    --font_family_primary: "Open Sans", sans-serif;
    --font_size_base: 1rem;
} */
html {
	scroll-behavior: smooth;
	height: 100vh;
	width: 100%;
	background-color: var(--background) !important;
	color: var(--text) !important;
}
body {
    max-width: 100% !important;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--background) !important;
	color: var(--text);
	font-family: mono;
    font-size: var(--font_size_base) !important;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--font_family_heading) !important;
    color: var(--primary_color);
}
h1{
    font-size: var(--font_size_h1) !important;
}
h2{
    color: var(--accent_color);
    font-size: var(--font_size_h2) !important;
}
h3{
    font-size: var(--font_size_h3) !important;
}
h4{
    font-size: var(--font_size_h4) !important;
}
p, .text{
	font-size: var(--font_size_base) !important;
	color: var(--text);
	font-family: var(--font_family_body) !important;
}
label{
    font-size: var(--font_size_base) !important;
    font-weight: bold;
    color: var(--muted);
    font-family: var(--font_family_body) !important;
}
.hint{
    font-size: var(--font_size_base) !important;
    font-weight: bold;
    color: var(--muted);
    font-style: italic;
}
.muted{
    color: var(--muted) !important;
    font-weight: bolder;
}
.accent{
    color: var(--accent_color) !important;
}
.spacer{
    width: 100%;
    margin: auto;
}
iframe{
    width: 100%;
    height: 100%;
    border: none;
}
nav, #nav, .navbar-default, .navbar-static-top{
    background-color: var(--primary_color) !important;
    background-image: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#nav{
    position: fixed;
    top: 0;
    margin: 0 !important;
    padding: 1.5rem 2rem;
    width: 100%;
    
}
.navbar-toggler{
    display: none !important;
    float: right;
    max-width: fit-content;
}
.navbar-brand{
    margin: 1rem !important;
    color: var(--text) !important;
    text-shadow: none;
}
.btn,button, input, optgroup, select, textarea{
    box-shadow: none !important;
    padding: 0.5rem 2rem !important;
    transition: all 0.2s ease-in-out !important;
    border-radius: calc(var(--radius)* 0.3) !important;
    background-color: var(--background);
    border: 1px solid var(--border);
    &:hover{
        background-color: var(--primary_color) !important;
        color: var(--background) !important;
    }
    &:focus{
        background-color: var(--surface) !important;
        color: var(--text) !important;
    }
    &[type=text]{
        width: 100%;
    }
    &:disabled{
        background-color: var(--surface) !important;
        color: var(--muted) !important;
    }

}
select{
    width: 100%;
}
.btn{
    font-weight: bolder;
}
.btn-secondary{
    color: var(--primary_color) !important;
    background-color: transparent !important;
    &:hover{
        color: var(--background) !important;
        background-color: var(--primary_color) !important;
    }
    &:active, &.active{
        color: var(--background) !important;
        background-color: var(--primary_color) !important;
    }

}

.btn-primary{
    background: var(--primary_color);
    color: var(--background);
    font-size: var(--font_size_h3);
    border: none;
    /* border-radius: 0.5rem !important; */
}
.btn-danger{
    background: var(--danger);
    color: var(--text);
    font-size: var(--font_size_h3);
    border: none;
    /* border-radius: 0.5rem !important; */
}
.card {
    /* max-width: clamp(80rem, 50%, 80vw); */
    background: var(--surface);
    border: 1px solid var(--border);
    border-radius: var(--radius);
    padding: 1rem;
    margin: auto auto;
}
#btn-discord, &>*{
    color: var(--theme-primary);
}    

#carousel_hero, #catalog-container, #contact-container, #about-container{
    margin: 10vh auto;
    &>.row{
        margin: auto;
    }
}
#about-container>row{
    display: flex;
    flex-direction: row;
}
.slot.slide{
    display: none;
    &.active{
        display: block;
    }
}
.jumbotron{
    background-color: var(--theme-transparent) !important;
}
#power{
    color: var(--primary_color) !important;
}